<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Add style-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <div class="container bg-dark">
        <form action="/process" method="post">

            <h1>Welcome to Guess Number Game!</h1>
            <h2>I am thinking of a number between 1 and 100<br>Take a guess!</h2>
            
            <!-- Response only when user take a guess -->
            {% if 'guess' in session %}
                {% set hasWon = session['gameOver'] and session['att'] < 6 %}
                <div class="myContainer {{'bg-danger' if not hasWon else 'bg-success'}}">
                    {% if session['guess'] < session['num'] %}
                        <h1>Too low!</h1> 
                    {% elif session['guess'] > session['num'] %}
                        <h1>Too high!</h1>
                    {% elif hasWon %}
                        <h1>{{session['num']}} was the number, took {{session['att']}} attempts</h1>
                    {% else %}
                        <h1>You lose! {{session['num']}} was the number</h1>
                    {% endif %}
                </div>
            {% endif %}
            <!-- Render accordingly -->
            {% if not session['gameOver'] %}
                <p>{{session['att']}} attempts</p>
                <label for="guess">Your Guess:</label>
                <input type="number" name="guessNum">
                <button type="submit" class="btn bg-primary">Submit</button>
            {%else%}
                <a href="/clear" class="btn bg-primary">Play Again</a>
            {% endif %}
        </form>
    </div>
    <!--Add script-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>